<!DOCTYPE html>
<html>
<head>
<style>
body  {
  background-image: url("http://sfwallpaper.com/images/city-at-night-background-22.jpg");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat
}
</style>
</head>
<body>


</body>
</html>
